@use "@material/tooltip/styles";
@use '@material/elevation/mixins' as elevation-mixins;
@use '@material/dom/dom';
@use '@material/feature-targeting/feature-targeting';
@use '@material/typography/typography';
@use "@material/tooltip/tooltip-theme";
@import '@material/tooltip/tooltip';

$color: #444;

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: $color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#preact_root {
	height: 100%;
}

// Apply rich styles to standard tooltip.
// This is done because efforts to get rich tooltips working
// with SVG charts have failed.
// This code is modeled after the current version of @material/tooltip.
$query: feature-targeting.all();

.bar-tooltip {

	.tooltip__content {
		align-self: stretch;
		margin: 0;
		font-size: var(--mdc-typography-caption-font-size, 0.75rem);
	}

  .tooltip__surface {
    @include elevation-mixins.elevation(2, $query: $query);
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: tooltip-theme.$rich-background-color;
  }
}
